<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fisher.helloandroid">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- LBS 服务 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
<!--    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>-->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
            android:name="org.litepal.LitePalApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <service
                android:name="com.baidu.location.f"
                android:enabled="true"
                android:process=":remote">
        </service>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="94FjT3fdy0BxWEKfH87gCdYfh1FhsGa8"/>

        <activity android:name=".test9.NotificationActivity">
        </activity>
        <activity
                android:name=".test1_6.HelloWorldActivity"
                android:label="First Activity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
                android:name=".test1_6.SecondActivity"
                android:label="Second Activity">

            <!-- <intent-filter> -->
            <!-- <action android:name="com.fisher.helloandroid.ACTION_START"/> -->


            <!-- <category android:name="android.intent.category.DEFAULT"/> -->
            <!-- &lt;!&ndash; <category android:name="com.fisher.helloandroid.MY_CATEGORY"/> &ndash;&gt; -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".test1_6.ThirdActivity">
        </activity>
        <activity android:name=".test1_6.FourthActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".test1_6.NewsContentActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity> <!-- <activity android:name=".NewsContentFragment"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN"/> -->
        <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity android:name=".test1_6.MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".test1_6.BroadcastActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".test1_6.LoginActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".test7.MyDatabaseMain">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".test8.test8callmain">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".test8.test8contactsmain">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->
            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".test8.test8providermain">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".test9.NotificationTest">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".test9.CameraActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN"/>-->

<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->
        </activity>

        <activity android:name=".test10.DownloadActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN"/>-->

<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->
        </activity>

        <activity android:name=".test11.LocationMain">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN"/>-->

<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->
        </activity>

        <activity
                android:name=".test12.MDMain"
                android:label="实验十二">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <receiver
                android:name=".test1_6.CustomReceiver"
                android:enabled="true"
                android:exported="true">
        </receiver>

        <!-- 数据库provider -->
        <!-- <provider -->
        <!-- android:name=".test8.DatabaseProvider" -->
        <!-- android:authorities="com.fisher.helloworld.provider" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"> -->
        <!-- </provider> -->

        <!-- 拍照provider -->
        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="com.fisher.helloandroid.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>